body {
    background-color: #F1F0F6;
    overflow-x: hidden;
}

.user-info {
    padding: 30px 24px;
}
.general-info img{
    width: 90px;
}

.general-info a {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem;
    background-color: #FFB400;
    text-decoration: none!important;
    color: #000;
}

.general-info a i {
    font-size: 0.875rem;
}

.background-orange {
    background-color: #FFB400!important;
}

.color-orange {
    color: #FFB400!important;
}

.color-green {
    color: #7DB840!important;
}

/* background: */

progress {
    width: 100%;        
    background-color: white;    
    border: 1px solid #FFB400;
    border-radius: 4px;
    height: 6px;
}

progress::-webkit-progress-bar {
    background-color: white;     
}

/* value: */
progress::-webkit-progress-value {
    background-color: #FFB400 !important;
    height: 5px;    
}

.extra-skills i {
    color: #FFB400;
}

.about-me {
    height: 284px;    
}

.about-me > div:first-child {
    padding-top: 30px;
}

.about-me img {
    width: 250px;
    height: auto;
}

.my-services {
    margin-top: 91px;
}

.my-services .card-img-top {
    font-size: 44px;
}

.adjust-container {
    margin-bottom: 120px;
}

aside:last-of-type button{
    width: 48px;
    height: 48px;
}

aside:last-of-type button:hover{
    background-color: #FFB400;
}

aside:last-of-type button i {
    font-size: 24px;
}

.tooltip {
    width: auto;
    text-align: center;
}